# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.meta
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Thumbs.db
Library/assetDatabase3

*.dwlt

Library/guidmapper

*.dll

Library/CurrentLayout.dwlt

Library/ScriptAssemblies/Assembly-CSharp-Editor.dll

Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll

*.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.dll

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb

ProjectSettings/EditorBuildSettings.asset
